<div>
    <img src="./image/img1.jpg" alt="">
    <div class="bg">
        <p id="chaychu"></p> 
    </div>     
</div>

    <style>
    @font-face {
        font-family: 'inconsolata';
        src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/Simplifica.woff') format('woff');
        font-style: normal;
        font-weight: normal;
        font-display: swap;
    }
    body {
        font-family: inconsolata;
        margin: 0;
        background: #000;
    }
    div {
        position: relative; 
        overflow: hidden;
        line-height: 0;
    }
    img {
        width: 100%;
        filter: contrast(90%);
    }

    .bg {
        line-height: 1;
        text-align: justify;
        padding: .18vsw;
        margin-top: 0;
        font-size: 1.76vw;
        color: #fff;
        background: #000;
        mix-blend-mode: multiply;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    /* .chaychu {
        animation: chuchay 5s linear infinite;
    }
     */
    /* @keyframes chuchay {
        0% {transform: translateY(100%);}
        100% {transform: translateY(-100%);}
    } */
    </style>

    <script>
        var string = "love";
        for(let i = 0; i< 1000; i++) {
            string += "  Y ";
        }
        var str = string.split("");
        console.log(str);
        var el = document.getElementById('chaychu');
        (function animate() {
        str.length > 0 ? el.innerHTML += str.shift() : clearTimeout(running); 
        var running = setTimeout(animate, 0.1);
        })();
    </script>